In [1]:
import pandas as pd

In [3]:
import requests
import pandas as pd
def fetch_openf1_data(endpoint, params=None):
 base_url = "https://api.openf1.org/v1/"
 url = f"{base_url}{endpoint}"
 response = requests.get(url, params=params)
 response.raise_for_status() # Raise an exception for HTTP errors
 return response.json()

In [6]:
hypothetical_session_key = 'latest'

In [7]:
try:
 lap_data = fetch_openf1_data('laps', {'session_key': hypothetical_session_key})
 laps_df = pd.DataFrame(lap_data)
 print(f"Fetched {len(laps_df)} laps.")
 print(laps_df.head())
except requests.exceptions.RequestException as e:
 print(f"Error fetching data: {e}")
 laps_df = pd.DataFrame()

Fetched 1348 laps.
   meeting_key  session_key  driver_number  lap_number date_start  \
0         1263         9963              1           1       None
1         1263         9963              4           1       None
2         1263         9963              5           1       None
3         1263         9963              6           1       None
4         1263         9963             10           1       None

   duration_sector_1  duration_sector_2  duration_sector_3  i1_speed  \
0                NaN             24.494             30.987     249.0
1                NaN             25.474             31.474     247.0
2                NaN             26.773             32.442     236.0
3                NaN             26.200             32.610     237.0
4                NaN             25.475             31.760     240.0

   i2_speed  is_pit_out_lap  lap_duration  \
0       274           False           NaN
1       280           False           NaN
2       282           False           NaN
3       264           False           NaN
4       277           False           NaN

                      segments_sector_1                     segments_sector_2  \
0  [2049, 2049, 2049, 2051, 2049, 2049]  [2051, 2049, 2049, 2049, 2049, 2049]
1  [2049, 2049, 2049, 2049, 2049, 2049]  [2049, 2049, 2049, 2049, 2049, 2049]
2  [2049, 2049, 2049, 2049, 2049, 2049]  [2049, 2049, 2049, 2049, 2049, 2049]
3  [2049, 2049, 2049, 2049, 2049, 2049]  [2049, 2049, 2049, 2049, 2049, 2049]
4  [None, 2064, 2049, 2049, 2049, 2049]  [2049, 2049, 2049, 2049, 2049, 2049]

                            segments_sector_3  st_speed
0  [2049, 2049, 2049, 2049, 2049, 2049, 2049]     309.0
1  [2049, 2049, 2049, 2049, 2049, 2049, 2049]     311.0
2  [2049, 2049, 2051, 2049, 2049, 2049, 2049]     309.0
3  [2049, 2049, 2049, 2049, 2049, 2049, 2049]     319.0
4  [2049, 2049, 2049, 2049, 2049, 2049, 2049]     309.0

In [8]:
laps_df

,meeting_key,session_key,driver_number,lap_number,date_start,duration_sector_1,duration_sector_2,duration_sector_3,i1_speed,i2_speed,is_pit_out_lap,lap_duration,segments_sector_1,segments_sector_2,segments_sector_3,st_speed
0,1263,9963,1,1,None,NaN,24.494,30.987,249.0,274,False,NaN,"[2049, 2049, 2049, 2051, 2049, 2049]","[2051, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049]",309.0
1,1263,9963,4,1,None,NaN,25.474,31.474,247.0,280,False,NaN,"[2049, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049]",311.0
2,1263,9963,5,1,None,NaN,26.773,32.442,236.0,282,False,NaN,"[2049, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2051, 2049, 2049, 2049, 2049]",309.0
3,1263,9963,6,1,None,NaN,26.200,32.610,237.0,264,False,NaN,"[2049, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049]",319.0
4,1263,9963,10,1,None,NaN,25.475,31.760,240.0,277,False,NaN,"[None, 2064, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049]","[2049, 2049, 2049, 2049, 2049, 2049, 2049]",309.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1343,1263,9963,6,69,2025-06-15T19:33:09.338000+00:00,30.589,32.831,53.692,254.0,172,True,117.112,"[None, 2064, 2048, 2048, 2048, 2048]","[2049, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",95.0
1344,1263,9963,18,69,2025-06-15T19:33:11.354000+00:00,31.029,31.496,53.002,246.0,171,True,115.527,"[None, 2064, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",95.0
1345,1263,9963,44,70,2025-06-15T19:33:12.854000+00:00,30.432,31.347,53.971,235.0,163,True,115.750,"[None, 2064, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",95.0
1346,1263,9963,14,70,2025-06-15T19:33:41.619000+00:00,27.535,24.114,35.459,249.0,281,True,87.108,"[None, 2064, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",153.0
1347,1263,9963,27,70,2025-06-15T19:33:44.604000+00:00,27.796,27.025,33.750,215.0,262,True,88.571,"[None, 2064, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",285.0

In [9]:
import fastf1
import fastf1.plotting
import pandas as pd
 # Enable the FastF1 cache
 fastf1.Cache.enable_cache("~/.fastf1_cache")
 # Example: Load a specific race session (e.g., 2023 Austrian Grand Prix Race)
 # You can find the correct year, GP name, and session type from the FastF1 documentation or by exploring.
 # For the Austrian Grand Prix, the GP name is typically 'Austrian Grand Prix'
 try:
 # Load the session
 # Note: FastF1 will download data if not cached. This might take a moment.
 session = fastf1.get_session(2023, 'Austrian Grand Prix', 'Race')
 session.load()
 # Access lap data
 fastf1_laps = session.laps
 print(f"\nFetched {len(fastf1_laps)} laps using FastF1 API.")
 print(fastf1_laps.head())
 # Access driver data
 fastf1_drivers = session.drivers
 print("\nFastF1 Driver Data:")
 print(fastf1_drivers.head())
 # Access telemetry data for a specific driver and lap (example)
 # Pick a driver (e.g., Max Verstappen, driver number 33)
 driver_telemetry = fastf1_laps.pick_driver(33).telemetry
 print("\nFastF1 Telemetry Data (Driver 33, all laps):")
 print(driver_telemetry.head())
 # Access weather data
 fastf1_weather = session.weather_data
 print("\nFastF1 Weather Data:")
 print(fastf1_weather.head())
except Exception as e:
 print(f"Error fetching data from FastF1: {e}")
 fastf1_laps = pd.DataFrame()
 fastf1_drivers = pd.DataFrame()
 fastf1_telemetry = pd.DataFrame()
 fastf1_weather = pd.DataFrame()

IndentationError: unexpected indent (1116258840.py, line 5)